@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sarabun', sans-serif !important;
  scroll-behavior: smooth;
}
a{
  text-decoration: none !important;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #3B702A;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #26471b;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}
.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}
.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #3B702A !important;
}
@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}
.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}
.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}
.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}
.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}
.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}
.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none !important;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  font-family: "Poppins", sans-serif;
}
.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.card-body {
  padding: 0 20px 20px 20px;
}
.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-size: 20px;
}
/* Close Button */
.btn-close {
  background-size: 25%;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}
.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #f6f9ff;
}
.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}
.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #3B702A;
}
.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-weight: 600;
}
.breadcrumb a {
  color: #3b702ab9;
  transition: 0.3s;
}
.breadcrumb a:hover {
  color: #3B702A;
}
.breadcrumb .active {
  color: #3b702a86;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}
.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #22644b;
}
.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #3B702A;
}
.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #1f694d;
  border-bottom: 2px solid #000;
}
.tabs-dashboard button{
  color: #274b1b !important;
}

/* Referral Link Here */
.referral-link-here{
  width: 100%;
  padding: 20px 40px;
  margin-bottom: -30px;
}
.referral-link-here input{
  padding: 12px;
}
.referral-link-here .input-url{
  width: 90% !important;
  border: 1px solid #3B702A;
  border-radius: 5px 0px 0px 5px;
}
.referral-link-here .input-url-button{
  width: 10% !important;
  background-color: #3B702A;
  color: #fff;
  border: 1px solid #3B702A;
  border-radius: 0px 5px 5px 0px;
}
.referral-link-here .input-url-button:hover{
  background-color: #274b1b;
  border: 1px solid #274b1b;
}
.card-table .p-text{
  clear: right;
  margin-bottom: -40px;
  font-weight: 600;
  color: #838383;
}
@media (max-width: 770px){
  .referral-link-here .input-url{
    width: 80% !important;
  }
  .referral-link-here .input-url-button{
    width: 20% !important;
  }
}
@media(max-width: 590px){
  .card-table .p-text{
    margin-top: 50px;
  }
}
@media (max-width: 460px){
  .referral-link-here{
    padding: 20px 20px;
  }
}
@media (max-width: 400px){
  .referral-link-here .input-url{
    width: 60% !important;
  }
  .referral-link-here .input-url-button{
    width: 40% !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header .logo {
  width: 240px;
}
header .logo img {
  display: block;
  margin: auto;
  width: 120px !important;
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}
.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #000000;
}
.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
.header .search-form {
  width: 100%;
}
.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #000;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid #3b702a2c;
}
.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.header .search-form button i {
  color: #3B702A;
}
@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  header .logo {
    width: 220px;
  }
  header .logo img {
    display: inline-block;
  }
}
@media(max-width: 412px){
  header .logo {
    width: 160px;
  }
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav{
  background-color: #00000000;
}
.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav .nav-icon {
  font-size: 20px;
  color: #3B702A;
}
.header-nav .nav-profile {
  color: #3B702A;
}
.header-nav .nav-profile img {
  max-height: 36px;
}
.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}
.header-nav .badge-number {
  position: absolute;
  inset: 4px 6px auto auto;
  font-weight: normal;
  font-size: 11px;
  padding: 3px 6px;
}
.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}
.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}
.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .messages .message-item a {
  display: flex;
}
.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}
.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}
.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}
.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
}
.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}
.header-nav .profile .dropdown-header span {
  font-size: 14px;
}
.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}
@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #3b702a96;
}
@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #7cbe8c;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  transition: 0.3;
  background: #3B702A;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #3B702A;
}
.sidebar-nav .nav-link img{
  width: 15px;
  margin-right: 10px;
}
.sidebar-nav .nav-link.collapsed {
  color: #000000;
  background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
  color: #000000;
}
.sidebar-nav .nav-link:hover {
  color: #fff;
  background: #3B702A;
}
.sidebar-nav .nav-link:hover i {
  color: #fff;
}
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  transition: 0.3;
  padding: 7px 0 7px 20px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a:hover{
  background-color: #3B702A;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  padding: 7px 0 7px 20px;
}
/* .sidebar-nav .nav-content a.active{
  background-color: #3B702A;
  color: #fff;
} */
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #fff;
  background-color: #3B702A;
}
.sidebar-nav .nav-content a.active i {
  background-color: #3B702A;
}
.sidebar-nav .nav-content a.active{
  transition: 0.3;
  background: #3B702A;
  padding: 10px 15px;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}
.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}
.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}
.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}
.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}
.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}
.dashboard .info-card h6 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.dashboard .card-icon {
  font-size: 25px;
  line-height: 0;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-grow: 0;
}
.dashboard .card-icon img{
  width: 58px;
}
.dashboard .vote-card .card-icon {
  color: #3444d1;
  background: #e7e7ff;
}
.dashboard .ticket-card .card-icon {
  color: #29ad5c;
  background: #ddffea;
}
.dashboard .form-card .card-icon {
  color: #e66e1e;
  background: #ffebdd;
}
.dashboard .trivia-card .card-icon {
  color: #e61e1e;
  background: #ffdddd;
}
.dashboard .event-card .card-icon {
  color: #3444d1;
  background: #e7e7ff;
}
.dashboard .vendor-card .card-icon {
  color: #29ad5c;
  background: #ddffea;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}
.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}
.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}
.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}
.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}
.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}
.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item + .post-item {
  margin-top: 15px;
}
.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}
.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}
.dashboard .news h4 a:hover {
  color: #4154f1;
}
.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}
.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}
.dashboard .recent-sales .table thead th {
  border: 0;
}
.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}
.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}
.dashboard .top-selling .table thead {
  background: #f6f6fe;
}
.dashboard .top-selling .table thead th {
  border: 0;
}
.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}
.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}
.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}
.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}
.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}
.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  font-size: 18px;
}
.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
.profile .profile-overview .label {
  font-weight: 600;
  color: #26471b;
}
.profile .profile-edit img {
  max-width: 120px;
}


/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}
.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type="submit"] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}
.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}
.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}
.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}
.error-404 .btn:hover {
  background: #3e4f6f;
}
@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 16px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
  background-color: transparent !important;
}
.footer .copyrightDash {
  text-align: center;
  color: #000000;
}

.dataTable-wrapper.no-header .dataTable-container {
	border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
	padding: 8px 10px;
}

.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
	float: left;
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
	float: right;
}

.dataTable-selector {
	padding: 6px;
}

.dataTable-input {
	padding: 6px 12px;
}

.dataTable-info {
	margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
	margin: 0;
	padding-left: 0;
}

.dataTable-pagination li {
	list-style: none;
	float: left;
}

.dataTable-pagination a {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
}

.dataTable-pagination a:hover {
	background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination .pager a {
	font-weight: bold;
}

/*--------------------------------------------------------------
# TABLE
--------------------------------------------------------------*/
.card-table {
  padding: 40px 20px !important;
  border-radius: 10px !important;
  overflow-x:auto !important;
}
.card-table .buttons-table button{
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  background-color: #EFEFEF;
} 
.card-table button:hover{
  border: 1px solid #535353;
  background-color: #dbdbdb;
}
.card-table .search-table{
  float: right;
  margin-bottom: 20px;
}
.card-table .search-table form input{
  padding: 5px 7px;
  border: none;
  border-radius: 5px;
  border: 1px solid #535353;
}
.card-table .search-table form input:focus{
  outline: none;
  border: 2px solid #535353;
}
.card-table .card-table-table{
  margin-top: 45px;
  width: 100% !important;
}
.card-table .card-table-table th, .card-table .card-table-table td{
  border: 1px solid #9c9c9c;
  border-collapse: collapse;
}
.card-table .card-table-table .table-delete-button{
  background-color: #DC3545;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 3px 12px;
}
.card-table .card-table-table .table-delete-button:hover{
  background-color: #b42a38;
}
.card-table .card-table-table .btn{
  color: #ffffff !important;
}
.card-table .card-table-table .btn:hover{
  color: #000000 !important;
}
.card-table .card-table-table td img{
  width: 150px;
}
.card-table .card-table-table td .dropdown li{
  line-height: 10px;
}
.card-table .card-table-table td .dropdown .dropdown-item:hover{
  color: #ffffff !important;
}
.card-table nav{
  float: right;
}
@media(max-width: 590px){
  .card-table .search-table{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*--TABLE ENDS--*/

/*--------------------------------------------------------------
# SHORT URL
--------------------------------------------------------------*/
.short-url-dash{
  padding: 10px 10px 20px 10px !important;
}
.short-url-dash .box-note{
  background-color: #F8D7DA;
  color: #000;
  padding: 15px 20px 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.short-url-dash form{
  margin-top: 20px;
}
.short-url-dash form label{
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.short-url-dash form input{
  width: 100%;
  padding: 11px 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid #3B702A;
  font-size: 16px;
  color: #000;
}
.short-url-dash form input:focus{
  outline: none;
  border: 2px solid #3B702A;
}
.short-url-dash form button{
  background-color: #3B702A;
  color: #fff;
  border: none;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
  margin-top: 10px;
}
.short-url-dash form button:hover{
  background-color: #274b1b;
}
.short-url-dash .created-url-here{
  background-color: #fff;
  box-shadow: 0px 0px 20px #d8d8d8;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  width: 100% !important;
  padding: 50px 30px;
}
.short-url-dash .created-url-here input{
  padding: 12px;
}
.short-url-dash .created-url-here .input-url{
  width: 80% !important;
  border: 1px solid #3B702A;
  border-radius: 5px 0px 0px 5px;
}
.short-url-dash .created-url-here .input-url-button{
  width: 20% !important;
  background-color: #3B702A;
  color: #fff;
  border: 1px solid #3B702A;
  border-radius: 0px 5px 5px 0px;
}
.short-url-dash .created-url-here .input-url-button:hover{
  background-color: #274b1b;
  border: 1px solid #274b1b;
}
@media (max-width: 566px){
  .short-url-dash .created-url-here .input-url{
    width: 70% !important;
  }
  .short-url-dash .created-url-here .input-url-button{
    width: 30% !important;
  }
}
@media (max-width: 400px){
  .short-url-dash .created-url-here .input-url{
    width: 60% !important;
  }
  .short-url-dash .created-url-here .input-url-button{
    width: 40% !important;
  }
}

/*--------------------------------------------------------------
# START VOTING
--------------------------------------------------------------*/
.start-voting-div{
  padding: 10px 10px 40px 10px;
}
.start-voting-inner-div{
  background-color:  #fff;
  box-shadow: 0px 0px 20px #acacac3a;
  padding: 20px 30px !important;
  border-radius: 10px;
}
.start-voting-div .start-vote-details{
  background-color: #F8D7DA;
  color: #000;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
}
.start-voting-div form label{
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
.start-voting-div form span{
  font-size: 16px;
  font-weight: 500;
  margin-right: 40px;
}
.start-voting-div form select, .start-voting-div form .input{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  border: 1px solid #6e6e6e;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
}
.start-voting-div form select:focus, .start-voting-div form .input:focus{
  outline: none;
  border: 2px solid #3B702A;
  background-color: #ffffff;
}
.start-voting-div form button{
  background-color: #3B702A;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px 15px;
}
.start-voting-div form button:hover{
  background-color: #2b521e;
}
@media(max-width: 565px){
  .start-voting-div{
    padding: 10px 5px 20px 5px;
  }
  .start-voting-inner-div{
    padding: 20px 20px !important;
  }
  .start-voting-div form span{
    margin-right: 20px;
  }
}

/*--------------------------------------------------------------
# CREATE EVENT
--------------------------------------------------------------*/
.create-event-div .event-details-header{
  background-color: #F8D7DA;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 600;
}
.create-event-div form{
  width: 100% !important;
}
.create-event-div form label{
  font-size: 16px;
}
.create-event-div .btn-add-ticket{
  background-color: #0B5ED7;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.create-event-div .btn-add-ticket:hover{
  background-color: #0949a8;
}
.create-event-div .modal-title{
  font-size: 17px !important;
}
.create-event-div .btn-ticket-btn{
  padding: 10px 20px;
  background-color: #0B5ED7;
  border-radius: 15px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin: 7px;
}
.create-event-div .modal-body .input{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #949494;
}
.create-event-div .modal-body .input:focus{
  outline: none;
  border: 2px solid #3B702A;
}
.create-event-div form button{
  width: 180px;
  padding: 15px 5px;
  font-size: 17px;
}
.create-event-div form .optionDivQuestion{
  margin-top: -30px;
}


/*--------------------------------------------------------------
# OVERVIEW BOX SECTION
--------------------------------------------------------------*/
.overview-box-section{
  padding: 30px 10px 50px 10px;
}
.overview-box-section .overview-box{
  background-color: #ffffff;
  width: 250px;
  margin: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  padding: 10px 5px 5px 5px;
  transition: 0.6s;
}
.overview-box-section .overview-box:hover{
  transform: scale(1.1);
  background-color: #ebffe4;
  border: 1px solid #274b1b;
}
.overview-box-section .overview-box img{
  width: 65px;
  padding-bottom: 10px;
}
.overview-box-section .overview-box p{
  font-weight: 600;
  color: #000000;
  font-size: 16px;
}
@media(max-width: 1499px){
  .overview-box-section .overview-box{
    width: 210px;
  }
}
@media(max-width: 1299px){
  .overview-box-section .overview-box{
    width: 180px;
  }
  .overview-box-section .overview-box img{
    width: 60px;
  }
}
@media(max-width: 1199px){
  .overview-box-section .overview-box{
    width: 200px;
  }
}
@media(max-width: 719px){
  .overview-box-section .overview-box{
    width: 180px;
  }
}
@media(max-width: 659px){
  .overview-box-section .overview-box{
    width: 150px;
  }
  .overview-box-section .overview-box img{
    width: 55px;
  }
  .overview-box-section .overview-box p{
    font-size: 15px;
  }
}
@media(max-width: 569px){
  .overview-box-section .overview-box{
    width: 45%;
    margin: 5px;
  }
}


/*--------------------------------------------------------------
# PAYOUT SETTING PAGE
--------------------------------------------------------------*/
.payout-setting-div .event-details-headerTwo{
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 500;
}
.payout-setting-div form label{
  font-size: 14px;
}
.payout-setting-div form .input{
  padding: 5px 8px;
}
.payout-setting-div form button{
  width: 230px;
  padding: 10px 5px;
  font-size: 17px;
}
.payout-setting-div .switch{
  display: inline-flex;
}
.payout-setting-div .switch input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
.payout-setting-div .switch input[type=checkbox]:checked + label{
  background: green;
}
.payout-setting-div .switch input[type=checkbox]:checked + label::after{
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.payout-setting-div .switch label{
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 24px;
  position: relative;
  margin-top: -10px;
}
.payout-setting-div .switch label::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 16px;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# EVENT SETTING PAGE
--------------------------------------------------------------*/
.event-setting-btn-div{
  width: 100%;
  clear: right;
}
.event-setting-btn-div .btn-add{
  background-color: #3B702A;
  color: #fff;
  border-radius: 10px;
  padding: 12px 25px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
.event-setting-btn-div .btn-add:hover{
  background-color: #488833;
}
.event-setting-btn-div .header-modal{
  background-color: #d0ffc0;
  padding: 10px 5px 5px 5px !important;
  color: #000;
}
.event-setting-btn-div .header-modal p{
  font-weight: 700;
  font-size: 20px;
}
.event-setting-btn-div form input{
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #adadad;
  width: 100%;
}
.event-setting-btn-div form button{
  width: 130px;
  padding: 10px 5px;
  border: none;
  background-color: #3B702A;
  color: #fff;
  border-radius: 5px;
}
.event-setting-btn-div form button:hover{
  border: none;
  background-color: #284b1d;
  color: #fff;
  border-radius: 5px;
}
@media(max-width: 590px){
  .event-setting-btn-div{
    float: left;
  }
}


/*--------------------------------------------------------------
# SUBSCRIBE EMAIL SECTION
--------------------------------------------------------------*/
.subscribe-email-section form .email-input{
  width: 80%;
  padding: 8px 11px;
  color: #000000;
  border: 1px solid #505050;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}
.subscribe-email-section form .email-input:focus{
  outline: none;
  border: 1px solid #505050;
  border-right: none;
}
.subscribe-email-section form .remove-input{
  width: 20%;
  padding: 8px 3px;
  background-color: #e61e1e;
  color: #ffff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #e61e1e;
  border-radius: 0px 5px 5px 0px;
}
.subscribe-email-section form .remove-input:hover{
  background-color: #c21919;
  border: 1px solid #c21919;
}

.switch-link-header{
  background-color: #3B702A !important;
  padding: 7px 15px !important;
  border-radius: 5px !important;
  color: #fff !important;
  border: 1px solid #3B702A;
}
.switch-link-header:hover{
  background-color: #ecffe6 !important;
  color: #3B702A !important;
  border: 1px solid #3B702A;
}
.sider-switch-link{
  display: none !important;
}
@media(max-width: 591px){
  .switch-link-header{
    display: none !important;
  }
  .sider-switch-link{
    display: block !important;
  }
}

/*--------------------------------------------------------------
# TOP BOXES
--------------------------------------------------------------*/
.topBox{
  padding: 25px 5px 20px 15px;
  background-color: #ECFFE6;
  border-radius: 10px;
  box-shadow: 0px 0 20px #bebebe42;
}
.topBox img{
  width: 58px;
}
.topBox span{
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
}
.topBox p{
  float: right;
  font-size: 20px;
  font-weight: 700;
  margin-top: -30px;
  margin-right: 10px;
  color: #26471b;
}

.user_crm_wrapper {
  background: 0 0
}

.user_crm_wrapper .single_crm {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px
}

.user_crm_wrapper .single_crm .crm_head {
  background: #5d9947;
  padding: 8px 20px;
  border-radius: 13px
}

.user_crm_wrapper .single_crm .crm_head i {
  color: #fff
}
.user_crm_wrapper .single_crm .crm_head img{
  width: 20px;
}

.user_crm_wrapper .single_crm .crm_body {
  padding: 15px 23px
}

.user_crm_wrapper .single_crm .crm_body h4 {
  font-size: 22px;
  font-weight: 800;
  color: #242934;
}

.user_crm_wrapper .single_crm .crm_body p {
  font-size: 17px;
  color: #000;
  font-weight: 500;
}

.btnReload{
  border: none !important;
  border: 1px solid #fff !important;
}

.buildForm {
  border: 1px solid #000;
  padding: 30px 20px !important;
  border-radius: 10px;
}
@media(max-width: 767px){
  .buildForm {
    padding: 20px 8px !important;
  }
}
.buildForm .headerBuild h4{
  font-weight: 700;
  color: #2B521E;
}
.buildForm .bldInput{
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 17px;
  width: 100%;
}
.buildForm .bldInput:focus{
  outline: none !important;
  border: none !important;
  border-bottom: 2px solid #26471b !important;
}
.buildForm .answerField{
  background-color: #fff;
  border: 1px solid #000;
  padding: 8px 20px;
  color: #000;
  font-weight: 500;
  font-size: 17px;
}
.buildForm .answerField .bi{
  padding-right: 5px
}
.buildForm .dropdown-menu li{
  cursor: pointer;
  padding: 5px 10px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.buildForm .dropdown-menu li:hover{
  background-color: #ccffe4;
}
.buildForm .addInput{
  padding: 5px 10px;
  border: 1px solid #8f8f8f;
  background-color: #fff;
  border-radius: 5px;
  font-size: 17px;
  width: 100%;
}
.buildForm .addInput:focus{
  outline: none !important;
  border: 2px solid #686868 !important;
}
.buildForm .addOption{
  background-color: #5969f3;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.buildForm .addButton{
  padding: 5px 15px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  margin-right: 5px;
}
.buildForm .newField{
  border: none;
  padding: 8px 10px !important;
  background-color: #0067ce !important;
  color: #fff;
  border-radius: 5px !important;
}

.sellerModal form p{
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.sellerModal form label{
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding-bottom: 4px;
  display: block;
}
.sellerModal form .input{
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #c5c5c5;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
}
.sellerModal form .input:focus{
  outline: none;
  border: 1px solid #505050;
}
.sellerModal form button{
  width: 100% !important;
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}
.sellerModal form .textarea{
  width:100%;
  height: 60px;
  display: block;
  padding: 8px 10px;
  border: 1px solid #c5c5c5;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
}



.btn-elfriqueColor{
  background-color: #2b521e;
  color: #ffffff;
}
.btn-elfriqueColor a{
  color: #ffffff;
}
.btn-elfriqueColor a:hover{
  color: #000 !important;
}


.analyticsNote{
  background-color: #d6ebff;
  color: #000;
  padding: 40px 25px;
}
.analyticsNote p{
  font-weight: 600;
  color: #000;
  font-size: 15px;
}
.analyticsLinkBelow{
  margin-bottom: 10px;
  margin-top: 30px;
}
.analyticsLinkBelow a{
  padding: 5px 8px;
  font-size: 14px;
}

.tableModal{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.tableModal td{
  border: 1px solid #000;
  width: 50%;
  padding: 8px 10px !important;
  font-size: 15px;
  color: #000;
}
.tableModal td:first-child{
  font-weight: 700;
}

.deletemodalbox h4{
  color: #000;
  text-align: center;
  font-size: 20px;
}

/*--------------------------------------------------------------
# CREATE REFERRALS
--------------------------------------------------------------*/
.create-refer-div{
  padding: 10px 10px 40px 10px;
}
.start-voting-inner-div{
  background-color:  #fff;
  box-shadow: 0px 0px 20px #acacac3a;
  padding: 20px 30px !important;
  border-radius: 10px;
}
.create-refer-div .start-vote-details{
  background-color: #F8D7DA;
  color: #000;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
}
.create-refer-div form label{
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 20px 0px;
  padding-bottom: 5px;
}
.modal-dialog {
  padding: 120px 0 0 0;
  max-width: 80% !important;
  margin: auto !important;
}
.create-refer-div form span{
  font-size: 16px;
  font-weight: 500;
  margin-right: 40px;
}
.create-refer-div form select, .create-refer-div form .input{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  border: 1px solid #6e6e6e;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
}
.create-refer-div form select:focus, .create-refer-div form .input:focus{
  outline: none;
  border: 2px solid #3B702A;
  background-color: #ffffff;
}
.create-refer-div form button{
  background-color: #3B702A;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px 15px;
}
.create-refer-div form button:hover{
  background-color: #2b521e;
}
@media(max-width: 565px){
  .create-refer-div{
    padding: 10px 5px 20px 5px;
  }
  .start-voting-inner-div{
    padding: 20px 20px !important;
  }
  .create-refer-div form span{
    margin-right: 20px;
  }
}
.modal-body .connet{
  padding: 0px 20px 0px 20px ;
}
.modal-body .connet label{
  padding: 0px 0px 10px 0;
  font-size: 15px;
  font-size: 700;
}
.modal-body .connet .bi{
  position: absolute;
  margin-top: 8px;
  margin-left: 15px;
  font-size: 19px;
  padding-right: 15px;
  padding-top: 2px;
}
.modal-body .connet input{
  display: block;
  width: 100%;
  padding: 10px 5px 10px 20px;
  border-radius: 5px;
  border: 2px solid #2B521E;
  letter-spacing: 0.8px;
  background-color: #fff;
  font-size: 16px;
  transition: 0.6s;
}
.modal-body .connet input::placeholder{
  font-size: 13px;
  color: #000;
}
.modal-body .connet button{
  border: none;
  background-color: #2B521E;
  padding: 15px 30px 15px 30px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.modal-body .connet .routers{
  color: #fff;
}
.modal-body .connet .routers:hover{
  color: #fff;
}
.create{
  padding: 0px 0px 10px 0px;
}
.modal-footer button{
  color: #000;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
}
.modal-footer button:hover{
  background-color: #26471b !important;
  color: #fff !important;
  padding: 5px 10px 5px 10px;
}